// 폰트 변수
$font-pretendard: "Pretendard", sans-serif;
$font-tamburins: "Tamburins", serif;

// 색상 변수
$point-color: #ff0000;
$header-btn-color: #000;
$menu-btn-color: #fff;
$border-color: #eee;
$sub-text-color: #a4a4a4;
$link-btn-color: #000;

// 높이, 크기 변수
$header-height: 45px;
$gnb-link-height: 120px;
$header-btn-size: 20px;