/** header **/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  z-index: 100;
}

.header-top {
  display: none;
}

.inner-header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-header .logo img {
  height: 24px;
}
.inner-header .header-util {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.inner-header .header-util button {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.inner-header .header-util .total-search-btn {
  background-image: url("../img/common/icon-search.svg");
  z-index: 20;
  transition: all 0.4s;
  border-radius: 45px;
  position: absolute;
  top: 0;
  right: 47px;
}
.inner-header .header-util .total-search-btn.on {
  position: fixed;
  right: 30px;
  top: 89px;
  width: 40px;
  height: 42px;
  transform: rotate(360deg);
  z-index: 201;
  background-size: 70%;
}
.inner-header .header-util .menu-btn {
  background-image: url("../img/common/icon-menu.svg");
  background-size: 28px;
}
.inner-header .header-util .search-close-btn {
  background-image: url("../img/common/icon-close.svg");
  visibility: hidden;
}
.inner-header .header-util .search-close-btn.on {
  visibility: visible;
}

.gnb-wrap {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: right 0.3s;
}
.gnb-wrap.open {
  right: 0;
}
.gnb-wrap .gnb-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
}
.gnb-wrap .gnb-top .gnb-util {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.gnb-wrap .gnb-top .gnb-util button {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.gnb-wrap .gnb-top .gnb-util .menu-close-btn {
  background-image: url("../img/common/icon-close.svg");
  background-size: 28px;
}
.gnb-wrap .gnb {
  background: linear-gradient(90deg, #f9f9f9 140px, #e9e9e9 141px, #fff 140px);
  height: calc(100% - 60px);
  font-size: 18px;
}
.gnb-wrap .gnb .dep1 {
  display: flex;
  justify-content: space-between;
  width: 140px;
  color: #999;
}
.gnb-wrap .gnb .dep1 > a {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.gnb-wrap .gnb .dep1.on > a {
  color: #00A791;
  font-weight: 700;
}
.gnb-wrap .gnb .dep2 {
  display: none;
  width: calc(100% - 140px);
  position: absolute;
  top: 60px;
  left: 140px;
  color: #666;
}
.gnb-wrap .gnb .dep2 a {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.gnb-wrap .gnb .dep2.show {
  display: block !important;
}

.search-wrap {
  display: none;
  position: absolute;
  top: 61px;
  width: 100%;
  height: 100px;
  padding: 25px 20px;
  background-color: #fff;
}
.search-wrap.open {
  display: block;
}

.search-form {
  position: absolute;
  width: 0;
  opacity: 0;
  height: 50px;
  right: 31px;
  border-radius: 35px;
  border: 3px solid #e9e9e9;
  display: flex;
  box-sizing: border-box;
}
.search-form form {
  width: 100%;
  overflow: hidden;
  border-radius: 35px;
  border: 2px solid #00A791;
}
.search-form input {
  line-height: 38px;
  width: 100%;
  height: 40px;
  padding: 0 60px 0 15px;
  caret-color: #00A791;
  outline: none;
}

.search-wrap.open .search-form {
  width: calc(100% - 40px);
  right: 21px;
  opacity: 1;
  transition: left 0.5s, opacity 0.2s, width 0.5s;
  transition-delay: 0.2s;
}

/** footer **/
.footer {
  border-top: 1px solid #e9e9e9;
  padding: 36px 20px;
}
.footer .footer-inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
.footer .footer-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
}
.footer .family-site {
  position: relative;
  height: 40px;
  background-color: #fff;
  color: #666;
  border: 1px solid #999;
  border-radius: 10px;
}
.footer .family-site .site-list {
  position: absolute;
  bottom: 42px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #666;
  color: #666;
  border-radius: 10px;
}/*# sourceMappingURL=layout.css.map */