@import "./mixins"; // mixin.scss
@import "./variables"; // variables.scss
// layout.scss

/** header **/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $lightgray;
  background-color: $white;
}

.header-top {
  display: none;
}

.inner-header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    img {
      height: 24px;
    }
  }

  .header-util {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    button {
      width: $icon-size-l;
      height: $icon-size-l;
      background-position: center;
      background-repeat: no-repeat;
    }
    .total-search-btn {
      background-image: url("../img/common/icon-search.svg");
    }
    .menu-btn {
      background-image: url("../img/common/icon-menu.svg");
    }
    .search-close-btn {
      display: none;
    }
  }
}

.gnb-wrap {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: right 0.3s;
  &.open {
    right: 0;
  }
}

.gnb-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 20px;
  background-color: $white;
  border-bottom: 1px solid $lightgray;
  .gnb-util {
    @extend .header-util;
    .menu-close-btn {
      background-image: url("../img/common/icon-close.svg");
    }
  }
}

.gnb {
  background: linear-gradient(90deg, #f9f9f9 140px, #ffffff 140px);
  height: calc(100% - 60px);
  font-size: 18px;
  .dep1 {
    display: flex;
    justify-content: space-between;
    width: 140px;
    color: $gray;
    > a {
      position: relative;
      width: 100%;
      height: 56px;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
    &.on>a {
        color: $point-color;
        font-weight: 700;
      }
  }
  .dep2 {
    display: none;
    width: calc(100% - 140px);
    position: absolute;
    top: 60px;
    left: 140px;
    color: $darkgray;
    a {
        height: 56px;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
    &.show {
      display: block !important;
    }
  }
}

.search-wrap {
  display: none;
}
