// login.scss
@import "./font"; // font.scss
@import "./mixins"; // mixin.scss
@import "./variables"; // variables.scss
@import "./reset"; // reset.scss
@import "./common"; // common.scss

/** 로그인 컨텐츠 css **/

.login-container {
  font-family: $pretendard;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  .login-wrap {
    max-width: 350px;
    width: 100%;
    display: flex;
    padding: 10px;
    border: none;
    flex-direction: column;
    .tit-wrap{
      max-width: 350px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    h2{
        font-weight: 600;
        font-size: 30px
    }
    img{
      width: 100px;
    } 
  }
    .input-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .input-box {
        max-width: 350px;
        width: 100%;
        border: 1px solid $black;
        border-radius: 2px;
        padding: 14px 18px;
        height: 50px;
      }
    }
    .login-btn,
    .join-btn {
      max-width: 350px;
      width: 100%;
      height: 50px;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      color: $white;
      background-color: $mint;
    }
    .divider {
      max-width: 350px;
      width: 100%;
      border: none;
      border-top: 1px solid #ddd;
      margin: 10px 0;
    }
  }
  
  @include responsive(400px) {
   .login-wrap{
  
    border: 1px solid $gray;
    padding: 15px 20px 25px 20px;
    border-radius: 5px;
   }
  }
}