@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
}

html {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.4;
  color: #111;
}
body.on {
  overflow: hidden;
}

.dimm {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 0;
  background: rgba(17, 17, 17, 0.8);
  transition: opacity 0.3s;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}
.dimm.on {
  opacity: 1;
  height: 100vh;
  z-index: 20;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.skip {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}
.skip a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  text-indent: -9999px;
}
.skip a:focus, .skip a:active {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  font-size: 15px;
  line-height: 14px;
  text-indent: 0;
  text-align: center;
  color: #fff;
  background: #444;
}
.skip a:focus-visible {
  outline: 3px dashed #000;
  outline-offset: -3px;
}

.wrapper {
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

input,
select,
textarea,
button,
table {
  border: none;
  background: none;
  font-size: 14px;
  color: #666;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

@media screen and (min-width: 768px) {
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-size: 18px;
  }
}
.point-color {
  color: #00A791 !important;
}

select {
  background: #fff url("../img/common/icon-down-gray.svg") right 8px center/16px no-repeat;
}

/** 메인 컨텐츠 css **/
#main {
  margin-top: 60px;
}

.section .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 20px;
  overflow: hidden;
}

.section:first-child .inner {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .section .inner {
    padding: 50px 25px;
  }
  .section:first-child .inner {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1024px) {
  #main {
    margin-top: 135px;
  }
  .section .inner {
    padding: 70px 30px;
  }
  .section:first-child .inner {
    padding-top: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .section .inner {
    padding: 70px 40px;
  }
}
.intro-tit {
  font-size: 32px;
  font-weight: 500;
  word-break: keep-all;
  text-align: center;
}
.intro-tit strong {
  font-weight: 700;
}

.main-search-wrap {
  display: none;
}

.link-box-wrap {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
}
.link-box-wrap .link-box {
  display: flex;
  padding: 6vw;
  position: relative;
  border-radius: 7vw;
  overflow: hidden;
  background-color: #111;
  color: #fff;
}
.link-box-wrap .link-box::after {
  content: "";
  width: 100%;
  padding-bottom: 100%;
}
.link-box-wrap .link-box p {
  font-size: 24px;
  font-weight: 700;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  z-index: 1;
}
.link-box-wrap .link-box .link-box-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  transition: all 0.4s ease-in;
}
.link-box-wrap .link-box .link-box-bg.bg01 {
  width: 100%;
  height: 100%;
  background: url("../img/main/icon-main-bg01.svg") center no-repeat;
  background-size: cover;
  scale: 1.2;
}
.link-box-wrap .link-box .link-box-bg.bg02 {
  width: 100%;
  height: 100%;
  background: #FE696B;
  transition: 0.4s;
}
.link-box-wrap .link-box .link-box-bg.bg03 {
  width: 100%;
  height: 70%;
  bottom: 0;
  top: auto;
  background: #5BC3F0;
  border-radius: 50% 50% 0 0;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.09, 1.25);
}
.link-box-wrap .link-box .link-box-bg.bg04 {
  width: 100%;
  height: 100%;
  background: url("../img//main/icon-main-bg04.svg") center no-repeat;
  background-size: cover;
  scale: 1.1;
  translate: 5% 5%;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .intro-tit {
    font-size: 42px;
    letter-spacing: -3px;
  }
  .link-box-wrap {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .link-box-wrap .link-box {
    border-radius: 30px;
    padding: 30px;
    max-width: 332px;
  }
  .link-box-wrap .link-box p {
    font-size: min(3vw, 42px);
  }
  .link-box-wrap .link-box:hover .bg01 {
    scale: 10;
  }
  .link-box-wrap .link-box:hover .bg02 {
    scale: 0.3;
    border-radius: 50%;
  }
  .link-box-wrap .link-box:hover .bg03 {
    height: 40%;
  }
  .link-box-wrap .link-box:hover .bg04 {
    translate: -5% -5%;
  }
}
@media screen and (min-width: 1024px) {
  .intro-tit {
    font-size: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .link-box-wrap {
    gap: 24px;
  }
  .link-box-wrap .link-box {
    border-radius: 50px;
  }
}
.board-top {
  display: flex;
  align-items: center;
  position: relative;
}
.board-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #e9e9e9;
}

.more-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f7 url("../img/common/icon-arrow.svg") center no-repeat;
  border-radius: 7px;
  display: block;
  transition: all 0.3s;
}
.more-btn:hover, .more-btn:focus {
  background: #00A791 url("../img/common/icon-arrow-white.svg") center no-repeat;
}

.board-tab {
  width: calc(100% - 30px);
  display: flex;
}
.board-tab button {
  font-size: 18px;
  width: 100%;
  padding: 12px;
  color: #111;
}
.board-tab > li.on {
  position: relative;
}
.board-tab > li.on::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00A791;
  z-index: 1;
}
.board-tab > li.on button {
  font-weight: 700;
}

.board-box {
  padding-top: 20px;
}

.board-content {
  display: none;
}
.board-content.on {
  display: block;
}
.board-content > li:not(:first-child) {
  padding-top: 1rem;
}
.board-content .item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.board-content .item .list-tit {
  display: flex;
  gap: 10px;
  align-items: center;
}
.board-content .item .list-tit .label {
  min-width: 50px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
}
.board-content .item .list-tit .label.pink {
  background-color: #FF92A2;
}
.board-content .item .list-tit .label.mint {
  background-color: #00A791;
}
.board-content .item .list-tit p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: calc(100% - 60px);
  color: #111;
  transition: 0.3s;
}
.board-content .item .list-tit p:hover, .board-content .item .list-tit p:focus {
  color: #00A791;
}
.board-content .item .date {
  color: #666;
}

@media screen and (min-width: 360px) {
  .board-tab button {
    font-size: 22px;
  }
  .board-content {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .more-btn {
    width: 40px;
    height: 40px;
  }
  .board-tab {
    width: calc(100% - 40px);
    padding-bottom: 8px;
  }
  .board-tab button {
    padding: 16px 60px;
  }
  .board-tab > li.on::after {
    bottom: -8px;
  }
  .board-content .item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .board-content .item .list-tit {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .board-tab button {
    font-size: 24px;
  }
  .board-content {
    font-size: 18px;
  }
  .board-content > li:not(:first-child) {
    padding-top: 2rem;
  }
}
.section.book {
  position: relative;
  overflow: hidden;
}
.section.book::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  border-top-left-radius: 60px;
}
.section.book h3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section.book h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 20px;
  background: url("../img/main/icon-section-tit.svg") center no-repeat;
}

.book-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.book-info {
  width: 100%;
  padding: 30px 24px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0px rgba(171, 190, 209, 0.1);
}

.book-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.book-title p {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: calc(100% - 50px);
}

.book-info-list li {
  display: flex;
  gap: 10px;
}
.book-info-list li:not(:last-child) {
  padding-bottom: 10px;
}
.book-info-list em {
  color: #999;
  font-weight: 600;
  min-width: 54px;
}

@media screen and (min-width: 360px) {
  .book-info-list {
    font-size: 16px;
  }
}
.scroll-text {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.scroll-text span {
  animation: scrollTxt 30s linear infinite;
  display: flex;
}
.scroll-text span img {
  max-width: none;
  height: 5vh;
}

@keyframes scrollTxt {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3455px);
  }
}
@media screen and (min-width: 768px) {
  .scroll-text span img {
    height: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  .section.book h3 {
    font-size: 48px;
  }
  .section.book h3::before {
    width: 90px;
    height: 36px;
    background-size: 90px 36px;
  }
}
.slide-control {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;
}
.slide-control .btn-next,
.slide-control .btn-prev {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0px rgba(171, 190, 209, 0.3);
  background-color: #fff;
  cursor: pointer;
}
.slide-control .btn-next::after,
.slide-control .btn-prev::after {
  content: "";
  display: block;
  background: url("../img/common/icon-arrow.svg") center no-repeat;
  width: 16px;
  height: 16px;
}
.slide-control .btn-prev::after {
  transform: rotate(180deg);
}
.slide-control .swiper-pagination {
  width: 60px;
  height: 40px;
  padding: 10px 15px;
  position: static;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0px rgba(171, 190, 209, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #fff;
}

.book-img-list > li {
  overflow: hidden;
  border-radius: 15px 40px 40px 15px;
}
.book-img-list > li > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.book-img-list .swiper-slide {
  scale: 0.8;
  opacity: 0.5;
}
.book-img-list .swiper-slide-active {
  scale: 1;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .book-info-wrap {
    gap: 2rem;
    width: calc(30% - 15px);
    margin-bottom: 0;
    justify-content: flex-end;
  }
  .book-info {
    padding: 60px 40px;
  }
  .book-title p {
    font-size: 24px;
  }
  .monthly-slide {
    display: flex;
    gap: 30px;
  }
  .monthly-slide .book-image {
    width: calc(70% - 15px);
  }
  .slide-control {
    width: 230px;
  }
  .slide-control .btn-next,
  .slide-control .btn-prev {
    width: 60px;
    height: 60px;
  }
  .slide-control .swiper-pagination {
    width: 90px;
    height: 60px;
    border-radius: 90px;
  }
}
.book-tab {
  display: flex;
  gap: 1rem;
}
.book-tab > li {
  position: relative;
}
.book-tab > li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: #FE696B;
  transition: width 0.3s;
}
.book-tab > li:nth-child(2)::after {
  background-color: #00A791;
}
.book-tab > li.on::after {
  width: 100%;
}
.book-tab > li button {
  font-size: 18px;
  font-weight: 700;
  color: #111;
}

.book-contents .book-tab-cont {
  display: none;
  overflow: hidden;
  padding: 30px 0;
}
.book-contents .book-tab-cont.on {
  display: block;
}
.book-contents .book-tab-cont .book-slide > li {
  overflow: hidden;
  border-radius: 10px 20px 20px 10px;
  box-shadow: 0 10px 16px 0px rgba(171, 190, 209, 0.3);
  aspect-ratio: 154/203;
  translate: 0 0;
  transition: translate 0.3s;
}
.book-contents .book-tab-cont .book-slide > li:hover {
  translate: 0 -20px;
}
.book-contents .book-tab-cont .book-slide > li > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .book-tab > li button {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .book-tab {
    gap: 2rem;
  }
  .book-tab > li.on::after {
    height: 10px;
    bottom: -10px;
  }
  .book-tab > li button {
    font-size: 42px;
  }
  .book-contents .book-tab-cont {
    padding: 60px 0;
  }
}