@charset "utf-8";

.monthly-recommend {
  overflow: hidden;
}

.book-swiper .swiper-slide {
  scale: 0.7;
  opacity: 0.5;
  border-radius: 10px 20px 20px 10px;
  overflow: hidden;
  transition: scale .3s;
  aspect-ratio: 280 / 360;
}

.book-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.book-swiper .swiper-slide-active {
  scale: 1;
  opacity: 1;
}

