@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
}

html {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.4;
}
body.on {
  overflow: hidden;
}

.dimm {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 0;
  background: rgba(17, 17, 17, 0.8);
  transition: opacity 0.3s;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}
.dimm.on {
  opacity: 1;
  height: 100vh;
  z-index: 20;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.skip {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}
.skip a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  text-indent: -9999px;
}
.skip a:focus, .skip a:active {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  font-size: 15px;
  line-height: 14px;
  text-indent: 0;
  text-align: center;
  color: #fff;
  background: #444;
}
.skip a:focus-visible {
  outline: 3px dashed #000;
  outline-offset: -3px;
}

.wrapper {
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

input,
select,
textarea,
button,
table {
  border: none;
  background: none;
  font-size: 14px;
  color: #666;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-size: 18px;
  }
}
/** 마이페이지 컨텐츠 css **/
body {
  display: flex;
  justify-content: center;
}
body .mypage-container {
  max-width: 768px;
  width: 100%;
  margin-top: 30px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  body .mypage-container {
    max-width: 800px;
    width: 100%;
  }
}
body h2 {
  font-size: 32px;
  font-weight: 700;
}
body .profile-wrap {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .profile-wrap .user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
}
body .profile-wrap .profile-image {
  width: 50px;
  border-radius: 50%;
}
body .profile-wrap .level-icon {
  width: 50px;
}
body .profile-wrap .exp-bar-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
body .profile-wrap .exp-bar-wrap .exp-bar {
  width: 120px; /* 경험치 바 너비 */
  height: 10px;
  background-color: #ddd; /* 배경 색상 */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
body .profile-wrap .exp-bar-wrap .exp-bar .exp-fill {
  height: 100%;
  background: linear-gradient(90deg, #ffcc00, #ff6600); /* 색상 그라데이션 */
  border-radius: 5px;
  width: 33%; /* 현재 경험치 */
}
body .profile-wrap .exp-bar-wrap .exp-text {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
body .toggle-setting-wrap {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}
body .toggle-setting-wrap .toggle-setting {
  font-size: 20px;
  cursor: pointer;
}
body .toggle-setting-wrap .toggle-setting > img {
  width: 16px;
}
body .toggle-setting-wrap .setting-menu-wrap {
  font-size: 15px;
  display: flex;
  gap: 30px;
  line-height: 30px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-left: 10px;
}
body .mypick-wrap {
  margin-top: 60px;
}
body .mypick-wrap .sub-tit-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
body .mypick-wrap .sub-tit-wrap .sort-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}
body .mypick-wrap .sub-tit-wrap .sort-container .sort-select {
  position: relative;
  height: 25px;
  background-color: #fff;
  color: #666;
  border: 1px solid #999;
  border-radius: 10px;
  width: 100%;
}
body .mypick-wrap .loan-item {
  display: flex;
  justify-content: space-between;
}
body .mypick-wrap h3 {
  font-size: 25px;
  font-weight: 700;
}
body .mypick-wrap .move-loan-wrap {
  display: flex;
  justify-content: flex-end;
}
body .mypick-wrap .move-loan-wrap .move-loan-list {
  margin-top: 25px;
  font-size: 14px;
}
body .mypick-wrap hr {
  margin-top: 5px;
  margin-bottom: 20px;
}
body .badge-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4열 */
  grid-template-rows: repeat(2, auto); /* 10행 */
  gap: 15px;
}
body .badge-grid .badge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .badge-grid .badge img {
  width: 130px; /* 뱃지 크기 조정 */
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media screen and (min-width: 400px) {
  body .badge-grid {
    grid-template-columns: repeat(3, 1fr); /* 3열 */
  }
  body .badge-grid .badge img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  body .badge-grid {
    grid-template-columns: repeat(4, 1fr); /* 4열 */
  }
  body .badge-grid .badge img {
    width: 150px;
    height: 150px;
  }
}