@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
}

html {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

iframe {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 1.4;
}
body.on {
  overflow: hidden;
}

.dimm {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 0;
  background: rgba(17, 17, 17, 0.8);
  transition: opacity 0.3s;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
}
.dimm.on {
  opacity: 1;
  height: 100vh;
  z-index: 20;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.skip {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}
.skip a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  text-indent: -9999px;
}
.skip a:focus, .skip a:active {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px 0;
  font-size: 15px;
  line-height: 14px;
  text-indent: 0;
  text-align: center;
  color: #fff;
  background: #444;
}
.skip a:focus-visible {
  outline: 3px dashed #000;
  outline-offset: -3px;
}

.wrapper {
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

input,
select,
textarea,
button,
table {
  border: none;
  background: none;
  font-size: 14px;
  color: #666;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-size: 18px;
  }
}
/** header **/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.header::before {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #e9e9e9;
  position: absolute;
  bottom: 0;
}

.header-top,
.pc-header-util {
  display: none;
}

.inner-header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-header .logo img {
  height: 24px;
}
.inner-header .header-util {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.inner-header .header-util button {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.inner-header .header-util .total-search-btn {
  background-image: url("../img/common/icon-search.svg");
  z-index: 20;
  transition: all 0.4s;
  border-radius: 45px;
  position: absolute;
  top: 0;
  right: 47px;
}
.inner-header .header-util .total-search-btn.on {
  position: fixed;
  right: 30px;
  top: 89px;
  width: 40px;
  height: 42px;
  transform: rotate(360deg);
  z-index: 201;
  background-size: 70%;
}
.inner-header .header-util .menu-btn {
  background-image: url("../img/common/icon-menu.svg");
  background-size: 28px;
}
.inner-header .header-util .search-close-btn {
  background-image: url("../img/common/icon-close.svg");
  visibility: hidden;
}
.inner-header .header-util .search-close-btn.on {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .inner-header .logo img {
    height: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header::after {
    content: "";
    width: 100%;
    height: 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.2s;
    z-index: -1;
  }
  .header.open::after {
    height: 361px;
  }
  .header-top {
    display: block;
    border-bottom: 1px solid #e9e9e9;
  }
  .header-top .link-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    max-width: 1400px;
    height: 48px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header-top .link-list a {
    display: block;
    color: #666;
    font-size: 16px;
  }
  .inner-header {
    height: 86px;
    position: relative;
  }
  .inner-header .logo img {
    width: 155px;
    height: 38px;
  }
  .inner-header .header-util {
    display: none;
  }
}
.gnb-wrap {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: right 0.3s;
}
.gnb-wrap.open {
  right: 0;
}
.gnb-wrap .gnb-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
}
.gnb-wrap .gnb-top .gnb-util {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.gnb-wrap .gnb-top .gnb-util button {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.gnb-wrap .gnb-top .gnb-util .menu-close-btn {
  background-image: url("../img/common/icon-close.svg");
  background-size: 28px;
}
.gnb-wrap .gnb {
  background: linear-gradient(90deg, #f9f9f9 140px, #e9e9e9 141px, #fff 140px);
  height: calc(100% - 60px);
  font-size: 18px;
}
.gnb-wrap .gnb .gnb-list {
  display: flex;
  flex-direction: column;
}
.gnb-wrap .gnb .gnb-list .dep1 {
  display: flex;
  justify-content: space-between;
  width: 140px;
  color: #999;
  font-weight: 500;
}
.gnb-wrap .gnb .gnb-list .dep1 > a {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.gnb-wrap .gnb .gnb-list .dep1.on > a {
  color: #00A791;
  font-weight: 700;
}
.gnb-wrap .gnb .gnb-list .dep2 {
  opacity: 0;
  transition: opacity 0.3s;
  width: calc(100% - 140px);
  position: absolute;
  top: 60px;
  left: 140px;
  color: #666;
  font-weight: 400;
}
.gnb-wrap .gnb .gnb-list .dep2 a {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.gnb-wrap .gnb .gnb-list .dep2.show {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .gnb-wrap {
    display: block;
    position: static;
    overflow: visible;
    max-width: 700px;
  }
  .gnb-wrap .gnb-top {
    display: none;
  }
  .gnb-wrap .gnb {
    position: static;
    height: auto;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gnb-wrap .gnb .gnb-list {
    flex-direction: row;
    width: 100%;
  }
  .gnb-wrap .gnb .gnb-list .dep1 {
    width: 20%;
    position: relative;
  }
  .gnb-wrap .gnb .gnb-list .dep1 > a {
    width: 100%;
    height: 86px;
    padding-left: 0;
    justify-content: center;
    font-size: 20px;
    color: #111;
    transition: color 0.3s;
  }
  .gnb-wrap .gnb .gnb-list .dep1 > a:hover {
    color: #00A791;
    font-weight: 700;
  }
  .gnb-wrap .gnb .gnb-list .dep2 {
    display: none;
    width: 100%;
    top: 87px;
    left: 0;
    transition: opacity 0.2s;
    padding-top: 1rem;
  }
  .gnb-wrap .gnb .gnb-list .dep2 a {
    padding-left: 0;
    justify-content: center;
    transition: color 0.3s;
  }
  .gnb-wrap .gnb .gnb-list .dep2 a:hover, .gnb-wrap .gnb .gnb-list .dep2 a:focus {
    color: #00A791;
  }
  .pc-header-util {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
  }
  .pc-header-util button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
  }
  .pc-header-util .total-search-btn {
    background: #f3f4f7 url("../img/common/icon-search.svg") center no-repeat;
  }
  .pc-header-util .total-search-btn.on {
    display: none;
  }
  .pc-header-util .search-close-btn {
    background: #f3f4f7 url("../img/common/icon-close.svg") center no-repeat;
    display: none;
  }
  .pc-header-util .search-close-btn.on {
    display: block;
  }
  .header.open .gnb-wrap .gnb .gnb-list .dep2 {
    display: block;
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .gnb-wrap {
    max-width: 900px;
  }
  .gnb-wrap .gnb .gnb-list .dep1 > a {
    font-size: 24px;
  }
}
.search-wrap {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100px;
  padding: 25px 20px;
  background-color: #fff;
}
.search-wrap.on {
  display: block;
}

.search-form {
  position: absolute;
  width: 0;
  opacity: 0;
  height: 50px;
  right: 31px;
  border-radius: 35px;
  border: 3px solid #e9e9e9;
  display: flex;
  box-sizing: border-box;
}
.search-form form {
  width: 100%;
  overflow: hidden;
  border-radius: 35px;
  border: 2px solid #00A791;
}
.search-form input {
  line-height: 38px;
  width: 100%;
  height: 40px;
  padding: 0 60px 0 15px;
  caret-color: #00A791;
  outline: none;
}

.search-wrap.on .search-form {
  width: calc(100% - 40px);
  right: 21px;
  opacity: 1;
  transition: left 0.5s, opacity 0.2s, width 0.5s;
  transition-delay: 0.2s;
}

@media screen and (min-width: 1024px) {
  .search-wrap {
    top: 135px;
    height: 135px;
    z-index: 20;
  }
  .search-form {
    max-width: 660px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
/* subpage page-title */
.page-title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-title-area h1 {
  font-size: 2rem;
}

/** footer **/
.footer {
  border-top: 1px solid #e9e9e9;
}
.footer .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer .footer-inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}
.footer .footer-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  color: #999;
}
.footer .footer-link a {
  transition: 0.3s;
}
.footer .footer-link a:hover {
  color: #111;
  font-weight: 700;
}
.footer .family-site {
  position: relative;
  height: 40px;
  background-color: #fff;
  color: #666;
  border: 1px solid #999;
  border-radius: 10px;
}
.footer .family-site button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}
.footer .family-site button::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/common/icon-down-gray.svg");
}
.footer .family-site button.active::after {
  transform: rotate(180deg);
}
.footer .family-site .site-list {
  position: absolute;
  display: none;
  bottom: 42px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  color: #666;
  border-radius: 10px;
  padding: 5px 0;
}
.footer .family-site .site-list > li {
  padding: 5px 16px;
}
.footer .family-site .site-list > li > a {
  transition: 0.3s;
  display: block;
  height: 100%;
}
.footer .family-site .site-list > li > a:hover {
  color: #111;
}
.footer .footer-btm .footer-logo {
  height: 25px;
  filter: grayscale(1);
  opacity: 0.4;
}
.footer .footer-btm .footer-logo img {
  height: 100%;
}
.footer .footer-btm .copyright {
  color: #999;
  margin-top: 1rem;
  font-size: 16px;
}

@media screen and (min-width: 500px) {
  .footer .footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer-inner .right {
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer-link {
    flex-direction: row;
    font-size: 18px;
  }
  .footer-btm .footer-logo {
    height: 38px;
  }
  .footer-btm .copyright {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .footer .inner {
    padding: 36px 0;
  }
}
#search {
  margin-top: 15%;
}

.content {
  padding: 20px 50px;
}/*# sourceMappingURL=saerch.css.map */