.book-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.book-list .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-list .item img {
  transition: scale 0.5s;
}
.book-list .item:hover img, .book-list .item:focus img {
  scale: 1.1;
}
.book-list .item:hover p, .book-list .item:focus p {
  text-decoration: underline;
}
.book-list .img-box {
  border-radius: 10px;
  overflow: hidden;
}
.book-list .text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-list .text-box .book-tit {
  display: flex;
  gap: 10px;
  font-size: 15px;
  flex-wrap: wrap;
}
.book-list .text-box .book-tit p {
  width: 100%;
  font-weight: 600;
}
.book-list .text-box .book-info {
  font-size: 0.9rem;
}
.book-list .text-box .book-info li {
  display: flex;
  gap: 10px;
}
.book-list .text-box .book-info span {
  color: #666;
}
.book-list .label {
  border-radius: 5px;
  font-size: 12px;
  background-color: #ecf2fe;
  color: #0b50d0;
  padding: 3px 8px;
}

@media screen and (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .book-list .text-box .book-tit {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .book-list {
    grid-template-columns: repeat(5, 1fr);
  }
}