@import "../common/mixins"; // mixin.scss
@import "../common/variables"; // variables.scss

.search-result {
  width: 100%;
  display: flex;
  gap: 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  .result-section {
    width: 49%;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
    .category-tit {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .result-list {
      .list {
        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
    // &:nth-of-type(1){
    //     background-color: $mint

    // }
    // &:nth-of-type(2){
    //     background-color: $pink

    // }
    // &:nth-of-type(3){
    //     background-color: $lightblue

    // }
    // &:nth-of-type(4){
    //     background-color: $blueviolet

    // }
  }
}
